.cards__date {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #B6BCBF;
  margin-top: 0;
  margin-bottom: 0;
}