.intro__title {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin-top: 30px;
  margin-bottom: 0px;
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 30px;
    margin-top: 16px;
  }
}