.header__active-item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 112.5%;
  line-height: 1.5rem;
  text-decoration: none;
  /* padding-bottom: 1.5rem; */
  color: #fff;
  /* border-bottom: 0.1875rem solid #fff; */
}


@media screen and (max-width: 768px){
  .header__active-item {
    font-size: 100%;
    /* padding-bottom: 1.22rem; */
  }
}