.cards__not-found-title {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin-top: 21px;
  margin-bottom: 0;
}