.cards__loading-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin-top: 23px;
  margin-left: 3px;
  }